---
eleventyExcludeFromCollections: true
permalink: /site.webmanifest
---
{
    "name": "{{ siteconfig.title }}",
    "theme_color": "#000000",
    "background_color": "#000000",
    "display": "standalone",
    "icons": [
    {% for iconsize, iconsrc in siteconfig.webmanifest %}
        {
            "src": "{{ iconsrc | addHash }}",
            "sizes": "{{ iconsize }}",
            "type": "image/png"
        }{% if not loop.last %},{% endif %}
    {% endfor %}
    ]
}