<!doctype html>
<html lang="{{ siteconfig.locale.slice(0,2) }}" class="dark">
    <head>
        {% include "head.njk" %}
        {% include "json-ld.njk" %}
    </head>
    <body class="bg-white text-gray-900 tracking-wider font-normal overflow-x-hidden sm:overflow-auto">
        <div class="grid grid-flow-col grid-cols-small sm:grid-cols-regular h-screen overflow-y-hidden">
            <div id="sidebar" class="sidebar transition-transform transform -translate-x-60 sm:translate-x-0  sm:transition-none">
                {% include "sidebar.njk" %}
            </div>
            <div id="right-area" class="overflow-x-hidden sm:overflow-auto transition-transform transform sm:translate-x-0 sm:transition-none">
                <div id="top-bar" class="sm:hidden h-12 z-10 bg-white transition-transform duration-200 ease-in sm:sticky top-0 border-gray-600 border-b-1 border-opacity-30 shadow-lg">
                    <div class="grid grid-flow-col grid-cols-auto md:grid-cols-topbar max-w-content">
                        <div id="mobile-top-bar" class="flex leading-12 sm:hidden col-span-2">
                            <svg viewBox="0 0 100 80" class="block align-middle h-12 leading-12 ml-3 py-3 pt-4" onclick="slideLeftSidebar()">
                                <rect width="60" height="7"></rect>
                                <rect y="30" width="60" height="7"></rect>
                                <rect y="60" width="60" height="7"></rect>
                            </svg>
                            <a href="/" class="flex-grow inline align-middle leading-12 text-2xl text-center font-semibold font-header">{{ siteconfig.title }}</a>
                        </div>
                    </div>
                    <div></div>
                </div>
                <div class="grid grid-flow-col grid-cols-auto xl:grid-cols-topbar max-w-content mb-12">
                    <main class="min-w-0">
                        {{ content | safe }}
                    </main>
                </div>
            </div>
        </div>
    </body>
</html>