<!doctype html>
<html lang="{{ siteconfig.lang }}" class="{% if siteelements.features.colorMode == 'light' %}light{% else %}dark{% endif %}">
    <head>
        {% include "head.njk" %}
        {% include "json-ld.njk" %}
    </head>
    <body>
    {% if siteelements.features.base == "primitive" %}
        {{ content | safe }}
    {% else %}
        <div id="sidebar" class="is-closed">
            {% include "sidebar.njk" %}
        </div>
        <div id="right-area" class="h-screen">
            {% if siteelements.features.topbar %}
            <div {% if siteelements.features.topbar == "dynamic" %}id="top-bar"{% endif %} class="top-bar">
                {% include "topbar.njk" %}
            </div>
            {% endif %}
            <div class="max-w-content">
                <main>
                    {{ content | safe }}
                </main>
            </div>
            {% if siteelements.features.footer %}
                {% include "footer.njk" %}
            {% endif %}
        </div>
    {% endif %}
    </body>
</html>