<footer class="footer">
    <div class="footer-content max-w-content">
        {% if siteelements.features.rssInFooter %}
        <a class="footer-rss" href="/rss.xml" aria-label="RSS Feed">
            <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.rss.viewBox }}">
                <title>RSS</title>
                <path d="{{ inlinesvg.rss.path }}" />
            </svg>
        </a>
        {% endif %}
        {% set copyright = siteelements.copyright %}
        <div class="footer-copyright">
            <span class="footer-copyright-text">
                &copy; {% if copyright.year %}{{ copyright.year }}{% else %}{% year %}{% endif %}
            </span>
            {% if copyright.link %}
            <a class="footer-copyright-author" href="{{ copyright.link }}">
                {{ siteauthors[siteconfig.author].fullName if siteauthors[siteconfig.author] else siteconfig.author }}
            </a>
            {% else %}
            <span class="footer-copyright-author">
                {{ siteauthors[siteconfig.author].fullName if siteauthors[siteconfig.author] else siteconfig.author }}
            </span>
            {% endif %}
            <span class="footer-copyright-text">
                {{ copyright.text }}
            </span>
        </div>
        {% if siteelements.features.privacyPolicy == "footer" %}
        <div class="footer-privacy">
            <span class="footer-privacy-sep">&middot;</span>
            <a class="footer-privacy-policy" href="{{ siteelements.privacyPolicy.url }}" aria-label="{{ siteelements.privacyPolicy.name }}">
                {{ siteelements.privacyPolicy.name }}
            </a>
        </div>
        {% endif %}
        {% if siteelements.features.poweredBy %}
        <div class="footer-poweredby">
            <span class="footer-poweredby-prefix">
                {{ siteelements.poweredBy.text }}
            </span>
            {% if siteelements.poweredBy.url %}
            <a class="footer-poweredby-link" href="{{ siteelements.poweredBy.url }}" aria-label="{{ siteelements.poweredBy.name }}">
                {{ siteelements.poweredBy.name }}
            </a>
            {% else %}
            <span class="footer-poweredby-text">
                {{ siteelements.poweredBy.name }}
            </span>
            {% endif %}
        </div>
        {% endif %}
    </div>
</footer>