<meta charset="utf-8">
<title>{% if title %}{{ title }} - {% endif %}{{ siteconfig.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if excerpt %}{% set description = excerpt | truncate(150) %}
{% elseif page and not posts %}{% set cp = collections.all | getCollectionItem(page) %}{% set description = cp.templateContent | safe | striptags | truncate(150) %}
{% else%}{% set description = siteconfig.description | truncate(150) %}
{% endif %}
<meta name="description" content="{{ description }}">
<meta property="og:url" content="{{ page.url | absoluteUrl }}">
<meta property="og:type" content="{% if title %}article{% else %}website{% endif %}">
<meta property="og:title" content="{% if title %}{{ title }} - {% endif %}{{ siteconfig.title }}">
{% if siteconfig.features.og_description %}<meta property="og:description" content="{{ description }}">{% endif %}
<meta property="og:image" content="{% if image %}{{ image | addHash  | absoluteUrl }}{% else %}{{ siteconfig.openGraphDefaultImage | addHash | absoluteUrl }}{% endif %}">
<meta property="og:image:url" content="{% if image %}{{ image | addHash  | absoluteUrl }}{% else %}{{ siteconfig.openGraphDefaultImage | addHash | absoluteUrl }}{% endif %}">
<meta property="og:locale" content="{{ siteconfig.locale }}" />
<meta name="twitter:card" content="summary_large_image">
<meta nema="twitter:title" content="{% if title %}{{ title }} - {% endif %}{{ siteconfig.title }}">
{% if siteconfig.features.og_description %}<meta name="twitter:description" content="{{ description }}">{% endif %}
<meta name="twitter:image" content="{% if image %}{{ image | addHash | absoluteUrl }}{% else %}{{ siteconfig.openGraphDefaultImage | addHash | absoluteUrl }} {% endif %}">
{% if siteconfig.social.twitter_x %}
<meta name="twitter:site" content="@{{ siteconfig.social.twitter_x }}">
<meta name="twitter:creator" content="@{{ siteconfig.social.twitter_x }}">
{% endif %}
{% if siteconfig.pixels.fbApp %}<meta property="fb:app_id" content="{{ siteconfig.pixels.fbApp }}">{% endif %}
{% if siteconfig.social.fbPage %}<meta property="article:publisher" content="https://www.facebook.com/{{ siteconfig.social.fbPage }}/">{% endif %}
{% for name, item in meta %}
<meta name="{{ name }}" content="{{ item.value }}">
{% endfor %}
{% for iconsize, iconsrc in siteconfig.appleicons %}
<link rel="apple-touch-icon" sizes="{{ iconsize }}" href="{{ iconsrc | addHash }}">
{% endfor %}
{% for iconsize, iconsrc in siteconfig.favicons %}
<link rel="icon" type="image/png" sizes="{{ iconsize }}" href="{{ iconsrc | addHash }}">
{% endfor %}
{% if siteconfig.webmanifest %}<link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials">{% endif %}
<link rel="canonical" href="{{ page.url | absoluteUrl }}" />
{% if siteconfig.features.sitemap %}<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">{% endif %}
{% if siteconfig.pixels.fbPixel %}<link rel="preconnect" href="https://connect.facebook.net">{% endif %}
{% if siteconfig.fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" href="https://fonts.googleapis.com/css2?family={{ siteconfig.fonts.body.family }}:ital,wght@{{ siteconfig.fonts.body.weights }}&family={{ siteconfig.fonts.header.family }}:ital,wght@{{ siteconfig.fonts.header.weights }}{% if siteconfig.fonts.swap %}&display=swap{% endif %}" as="style">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family={{ siteconfig.fonts.body.family }}:ital,wght@{{ siteconfig.fonts.body.weights }}&family={{ siteconfig.fonts.header.family }}:ital,wght@{{ siteconfig.fonts.header.weights }}{% if siteconfig.fonts.swap %}&display=swap{% endif %}">
{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/site-build.css' | addHash }}">
{% if siteconfig.features.js %}<script src="{{ '/assets/js/min.js' | addHash }}" type="module"></script>{% endif %}
{% if siteconfig.pixels.googleTag %}
{% include "google-tag.njk" %}
{% endif %}
{% if siteconfig.pixels.fbPixel %}
{% include "meta-pixel.njk" %}
{% endif %}