<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if title %}{{ title }} - {% endif %}{{ siteconfig.title }}</title>
{% set description -%}{% getShortDescription %}{%- endset %}
<meta name="author" content="{% if author %}{{ siteauthors[author].fullName if siteauthors[author] else author }}{% else %}{{ siteauthors[siteconfig.author].fullName if siteauthors[siteconfig.author] else siteconfig.author }}{% endif %}">
<meta name="description" content="{{ description }}">
{% if siteelements.features.generator %}<meta name="generator" content="Eleventy">{% endif %}
{% if image %}{% set image_src = image %}{% else %}{% set image_src = siteconfig.openGraphDefaultImage %}{% endif %}
{% include "opengraph.njk" %}
{% include "twittercard.njk" %}
{% for name, item in meta %}
<meta name="{{ name }}" content="{{ item.value }}">
{% endfor %}
{% for iconsize in siteconfig.appleiconSizes %}
<link rel="apple-touch-icon" sizes="{{ iconsize }}x{{ iconsize }}" href="{% imageTransform siteconfig.favicon, iconsize, 'png' %}">
{% endfor %}
{% for iconsize in siteconfig.faviconSizes %}
<link rel="icon" type="image/png" sizes="{{ iconsize }}x{{ iconsize }}" href="{% imageTransform siteconfig.favicon, iconsize, 'png' %}">
{% endfor %}
{% if siteconfig.webmanifestSizes %}<link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials">{% endif %}
<link rel="canonical" href="{{ page.url | absoluteUrl }}" />
{% if siteelements.features.sitemap %}<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">{% endif %}
{% if siteelements.features.rssFeed %}<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ '/rss.xml' | absoluteUrl }}">{% endif %}
{% if siteelements.features.atomFeed %}<link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ '/atom.xml' | absoluteUrl }}">{% endif %}
{% if siteelements.features.jsonFeed %}<link rel="alternate" type="application/feed+json" title="JSON Feed" href="{{ '/feed.json' | absoluteUrl }}">{% endif %}
{% if siteconfig.pixels.fbPixel %}<link rel="preconnect" href="https://connect.facebook.net">{% endif %}
{% if siteconfig.pixels.googleTag %}<link rel="preconnect" href="https://www.googletagmanager.com">{% endif %}
{% if siteelements.fonts %}
{% if siteelements.fonts.local == "none" %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" href="https://fonts.googleapis.com/css2?family={{ siteelements.fonts.body.family }}:ital,wght@{{ siteelements.fonts.body.weights }}&family={{ siteelements.fonts.header.family }}:ital,wght@{{ siteelements.fonts.header.weights }}{% if siteelements.fonts.swap %}&display=swap{% endif %}" as="style">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family={{ siteelements.fonts.body.family }}:ital,wght@{{ siteelements.fonts.body.weights }}&family={{ siteelements.fonts.header.family }}:ital,wght@{{ siteelements.fonts.header.weights }}{% if siteelements.fonts.swap %}&display=swap{% endif %}">
{% elseif siteelements.fonts.local == "css" %}
<link rel="preconnect" href="https://fonts.gstatic.com">
{% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=' ~ siteelements.fonts.body.family ~ ':ital,wght@' ~ siteelements.fonts.body.weights ~ '&family=' ~ siteelements.fonts.header.family ~ ':ital,wght@' ~ siteelements.fonts.header.weights ~ ('&display=swap' if siteelements.fonts.swap else '') %}
{% endif %}
{% endif %}
<link rel="preload" href="{{ '/assets/css/site-build.css' | addHash }}" as="style">
<link rel="stylesheet" href="{{ '/assets/css/site-build.css' | addHash }}">
{% if siteelements.features.js %}<script defer src="{{ '/assets/js/min.js' | addHash }}" type="module"></script>{% endif %}
{% if siteconfig.pixels.googleTag %}
{% include "google-tag.njk" %}
{% endif %}
{% if siteconfig.pixels.fbPixel %}
{% include "meta-pixel.njk" %}
{% endif %}