{% set currentPost = collections.posts | getCollectionItem(page) %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{% if title %}{{ title }} - {% endif %}{{ siteconfig.title }}",
        "image": ["{% if image %}{{ image | absoluteUrl }}{% else %}{{ siteconfig.openGraphDefaultImage | absoluteUrl }}{% endif %}"],
        "author": {
            "@type": "Person",
            "name": "{{ siteconfig.author }}"
        },
        "mainEntityOfPage": "{{ page.url | absoluteUrl }}",
        "datePublished": "{{ page.date | isodate }}",
        "description": "{% if title %}{{ currentPost.templateContent | safe | striptags | truncate(150) }}{% else %}{{ siteconfig.description }}{% endif %}"
    }
</script>