---
layout: base.njk
---

<div class="content post pb-6 lg:ml-24 lg:mr-24">
  	<h1>{{ title }}</h1>
	{% if image %}
	<img class="mb-8" src="{{ image }}" alt="{{ imageAlt }}" />
	{% endif %}
	<div class="incontent">
  		{{ content | safe }}
	</div>
  	{% include "social.njk" %}
</div>