<div class="postlist">
	{% if siteconfig.header and siteheader %}
	<img class="siteheader" src="{{ siteconfig.header }}" alt="{{ siteconfig.headerAlt }}" />
	{% endif %}
	{% if title %}<h1>{{ title }}</h1>{% endif %}
	{% for post in posts %}
	<div class="postlistitem">
		<div class="postlistheading">
			<a href="{{ post.url | url }}">{{ post.data.title }}</a>
		</div>
		<div class="postexcerpt">{% if post.data.excerpt %}{{ post.data.excerpt }}{% else %}{% excerpt post %}{% endif %}</div>
		{% if siteconfig.features.postproperties %}
		{% include "postproperties.njk" %}
		{% endif %}
	</div>
	{% endfor %}
</div>
{% include "postpagination.njk" %}