---
layout: base.njk
---

<div class="content post">
  	<h1>{{ title }}</h1>
	{% if siteconfig.features.postproperties %}
  	<div class="postproperties flex flex-wrap gap-x-10 gap-y-4">
		<div class="flex flex-none">
        	<svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.calendar.viewBox }}">
	    		<path d="{{ inlinesvg.calendar.path }}" />
        	</svg>
        	{{ page.date | readableDate }}
		</div>
		{% if author %}
		<div class="flex flex-none">
        	<svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.author.viewBox }}">
	    		<path d="{{ inlinesvg.author.path }}" />
        	</svg>
        	{{ author }}
		</div>
		{% endif %}
		{% for posttag in tags %}
		{% if not sitetags.notag.includes(posttag) %}
		{% if sitestrings[posttag] %}{% set posttag = sitestrings[posttag] %}{% endif %}
		<div class="flex flex-none">
			<svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.hashtag.viewBox }}">
				<path d="{{ inlinesvg.hashtag.path }}" />
			</svg>
			{{ posttag | capitalize }}
			<span></span>
		</div>
		{% endif %}
		{% endfor %}
		{% set notime = false %}
		{% for notimetag in sitetags.notime %}
		{% if tags.includes(notimetag) %}{% set notime = true %}{% endif %}
		{% endfor %}
		{% if not notime %}
		<div class="flex flex-none readingtime" data-words="{{ content | striptags | wordcount | formatWords }} {{ sitestrings.words }}">
        	<svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.readingTime.viewBox }}">
  	    		<path d="{{ inlinesvg.readingTime.path }}" />
        	</svg>
        	{{ content | striptags | wordcount | readingTime }}
			<span></span>
		</div>
		{% endif %}
	</div>
	{% endif %}
	{% if image %}
	<img class="postimage" src="{{ image }}" alt="{{ imageAlt }}" />
	{% endif %}
	<div class="incontent">
  		{{ content | safe }}
	</div>
  	{% if siteconfig.features.sharer %}{% include "social.njk" %}{% endif %}
	{% if siteconfig.features.prevnext %}
	<div class="postbreak"></div>
	<div class="additions flex flex-col sm:flex-row gap-3">	
		{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}	
		{% set nextPost = collections.posts | getNextCollectionItem(page) %}	
	  	<a href="{{ previousPost.url }}" class="flex-1">	
			<div class="{% if previousPost.url %} prevnextyes{% else %} prevnextno{% endif %}">	
				<span class="prevnexttitle">{{ sitestrings.older }}</span>	
				<span class="prevnextlink">{% if not previousPost.url %} - {% else %}{{ previousPost.data.title | truncate(40) }}{% endif %}</span>	
			</div>	
		</a>	
	  	<a href="{{ nextPost.url }}" class="flex-1">	
		  	<div class="{% if nextPost.url %} prevnextyes{% else %} prevnextno{% endif %}">	
				<span class="prevnexttitle">{{ sitestrings.newer }}</span>	
				<span class="prevnextlink">{% if not nextPost.url %} - {% else %}{{ nextPost.data.title | truncate(40) }}{% endif %}</span>	
			</div>	
		</a>	
	</div>
	{% endif %}
</div>
