{% set data = social or siteelements.social %}
<div class="{% if social %}authorsocial{% else %}sitesocial{% endif %} grid grid-cols-{{ data | length }}">
    {% if data.linkedin %}
    <a href="https://linkedin.com/in/{{ data.linkedin }}" aria-label="Open LinkedIn profile" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.linkedin.viewBox }}">
            <title>LinkedIn</title>
            <path d="{{ inlinesvg.linkedin.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.github %}
    <a href="https://github.com/{{ data.github }}" aria-label="Open GitHub profile" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.github.viewBox }}">
            <title>GitHub</title>
            <path d="{{ inlinesvg.github.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.twitter_x %}
    <a href="https://x.com/{{ data.twitter_x }}" aria-label="Open X profile" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.twitter_x.viewBox }}">
            <title>X</title>
            <path d="{{ inlinesvg.twitter_x.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.youtube %}
    <a href="https://www.youtube.com/channel/{{ data.youtube }}" aria-label="Open YouTube channel" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.youtube.viewBox }}">
            <title>YouTube</title> 
            <path d="{{ inlinesvg.youtube.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.fbPage %}
    <a href="https://facebook.com/{{ data.fbPage }}" aria-label="Open Facebook page" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.facebookInverse.viewBox }}">
            <title>Facebook page</title>
            <path d="{{ inlinesvg.facebookInverse.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.fbProfile %}
    <a href="https://facebook.com/{{ data.fbProfile }}" aria-label="Open Facebook profile" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.facebook.viewBox }}">
            <title>Facebook</title>
            <path d="{{ inlinesvg.facebook.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.instagram %}
    <a href="https://instagram.com/{{ data.instagram }}" aria-label="Open Instagram profile" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.instagram.viewBox }}">
            <title>Instagram</title>
            <path d="{{ inlinesvg.instagram.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.threads %}
    <a href="https://threads.net/@{{ data.threads }}" aria-label="Open Threads profile" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.threads.viewBox }}">
            <title>Threads</title>
            <path d="{{ inlinesvg.threads.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.mastodon %}
    <a href="{{ data.mastodon }}" aria-label="Open Mastodon profile" target="_blank" rel="me noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.mastodon.viewBox }}">
            <title>Mastodon</title>
            <path d="{{ inlinesvg.mastodon.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.bluesky %}
    <a href="{{ data.bluesky }}" aria-label="Open Bluesky profile" target="_blank" rel="me noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.bluesky.viewBox }}">
            <title>Bluesky</title>
            <path d="{{ inlinesvg.bluesky.path }}" />
        </svg>
    </a>
    {% endif %}
</div>