{% set data = social or siteelements.social %}
<div class="{% if social %}authorsocial{% else %}sitesocial{% endif %} grid grid-cols-{{ data | length }}">
    {% if data.linkedin %}
    <a href="{{ socialconfig.linkedin.prefix }}{{ data.linkedin }}" aria-label="{{ socialconfig.linkedin.aria }}" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.linkedin.viewBox }}">
            <title>{{ socialconfig.linkedin.title }}</title>
            <path d="{{ inlinesvg.linkedin.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.github %}
    <a href="{{ socialconfig.github.prefix }}{{ data.github }}" aria-label="{{ socialconfig.github.aria }}" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.github.viewBox }}">
            <title>{{ socialconfig.github.title }}</title>
            <path d="{{ inlinesvg.github.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.twitter_x %}
    <a href="{{ socialconfig.twitter_x.prefix }}{{ data.twitter_x }}" aria-label="{{ socialconfig.twitter_x.aria }}" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.twitter_x.viewBox }}">
            <title>{{ socialconfig.twitter_x.title }}</title>
            <path d="{{ inlinesvg.twitter_x.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.youtube %}
    <a href="{{ socialconfig.youtube.prefix }}{{ data.youtube }}" aria-label="{{ socialconfig.youtube.aria }}" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.youtube.viewBox }}">
            <title>{{ socialconfig.youtube.title }}</title>
            <path d="{{ inlinesvg.youtube.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.fbPage %}
    <a href="{{ socialconfig.fbPage.prefix }}{{ data.fbPage }}" aria-label="{{ socialconfig.fbPage.aria }}" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.facebookInverse.viewBox }}">
            <title>{{ socialconfig.fbPage.title }}</title>
            <path d="{{ inlinesvg.facebookInverse.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.fbProfile %}
    <a href="{{ socialconfig.fbProfile.prefix }}{{ data.fbProfile }}" aria-label="{{ socialconfig.fbProfile.aria }}" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.facebook.viewBox }}">
            <title>{{ socialconfig.fbProfile.title }}</title>
            <path d="{{ inlinesvg.facebook.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.instagram %}
    <a href="{{ socialconfig.instagram.prefix }}{{ data.instagram }}" aria-label="{{ socialconfig.instagram.aria }}" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.instagram.viewBox }}">
            <title>{{ socialconfig.instagram.title }}</title>
            <path d="{{ inlinesvg.instagram.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.threads %}
    <a href="{{ socialconfig.threads.prefix }}{{ data.threads }}" aria-label="{{ socialconfig.threads.aria }}" target="_blank" rel="noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.threads.viewBox }}">
            <title>{{ socialconfig.threads.title }}</title>
            <path d="{{ inlinesvg.threads.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.mastodon %}
    <a href="{{ data.mastodon }}" aria-label="{{ socialconfig.mastodon.aria }}" target="_blank" rel="me noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.mastodon.viewBox }}">
            <title>{{ socialconfig.mastodon.title }}</title>
            <path d="{{ inlinesvg.mastodon.path }}" />
        </svg>
    </a>
    {% endif %}
    {% if data.bluesky %}
    <a href="{{ data.bluesky }}" aria-label="{{ socialconfig.bluesky.aria }}" target="_blank" rel="me noopener">
        <svg role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.bluesky.viewBox }}">
            <title>{{ socialconfig.bluesky.title }}</title>
            <path d="{{ inlinesvg.bluesky.path }}" />
        </svg>
    </a>
    {% endif %}
</div>