<div class="max-w-content">
    <div id="mobile-top-bar" class="flex col-span-2">
        <svg viewBox="0 0 100 80" onclick="slideLeftSidebar()" aria-label="{{ sitestrings.open_sidebar_menu }}">
            <rect width="60" height="7"></rect>
            <rect y="30" width="60" height="7"></rect>
            <rect y="60" width="60" height="7"></rect>
        </svg>
        <a href="/" class="grow inline" aria-label="{{ siteelements.menuHome }}">{{ siteconfig.title }}</a>
    </div>
</div>