<div {% if siteelements.features.topbar == "dynamic" %}id="top-bar"{% endif %} class="top-bar">
    <div class="max-w-content">
        <div id="mobile-top-bar">
            <svg role="button" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 80" aria-label="{{ sitestrings[siteconfig.lang].open_sidebar_menu }}" onclick="slideLeftSidebar()">
                <rect width="60" height="7" />
                <rect y="30" width="60" height="7" />
                <rect y="60" width="60" height="7" />
            </svg>
            <a href="/" aria-label="{{ siteelements.menuHome }}">{{ siteconfig.title }}</a>
            {% if siteelements.features.colorMode != "light" and siteelements.features.colorMode != "dark" %}
            <svg class="lighttoggle" role="button" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.lightMode.viewBox }}" aria-label="{{ sitestrings[siteconfig.lang].color_mode }}" onclick="toggleDarkLightMode(false)">
                <path d="{{ inlinesvg.lightMode.path }}" />
            </svg>
            <svg class="darktoggle" role="button" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="{{ inlinesvg.darkMode.viewBox }}" aria-label="{{ sitestrings[siteconfig.lang].color_mode }}" onclick="toggleDarkLightMode(false)">
                <path d="{{ inlinesvg.darkMode.path }}" />
            </svg>
            {% endif %}
        </div>
    </div>
</div>