---
layout: base.njk
sitemapPriority: 1
permalink: /author/{{ tag.tagName | slugify }}/{% if tag.pageNumber %}{{ tag.pageNumber }}/{% endif %}
pagination:
  data: collections.authorPagination
  size: 1
  alias: tag
---

{# Note that pagination size is determined by the collection itself (edit author.js) #}
{# Note that the permalink prefix (/author/) is determined by the collection itself #}
{% set posts = tag.items %}
{% set pagination = tag %}
{% set title = tag.tagName %}
{% if sitestrings[tag.tagName] %}{% set title = sitestrings[tag.tagName] %}{% endif %}
{% include "postlist.njk" %}
