---
layout: base.njk
sitemapPriority: 1
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
---

{% if siteconfig.header %}{% set siteheader = true %}{% endif %}
{% if siteconfig.features.index == "postlist" %}{% include "postlist.njk" %}{% endif %}
{% if siteconfig.features.index == "singlepost" %}
<div class="{% if siteconfig.features.base != "primitive" %}content {% endif %}post">
{% set cp = collections.all | getCollectionItem(posts[0]) %}{{ cp.templateContent | safe }}
</div>
{% endif %}