---
layout: base.njk
title: Posts
sitemapPriority: 1
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
---

<div class="postlist">
  {% if siteconfig.header %}
  <img class="siteheader -mt-4" src="{{ siteconfig.header }}" alt="{{ siteconfig.headerAlt }}" />
  {% endif %}
	{% include "postlist.njk" %}
</div>
{% include "postpagination.njk" %}