---
layout: base.njk
title: Notikumi
pagination:
  data: collections.event
  size: 10
  alias: posts
  reverse: true
---

<div class="postlist">
  {% if title %}<h1>{{ title }}</h1>{% endif %}
	{% include "postlist.njk" %}
</div>
{% include "postpagination.njk" %}