---
layout: base.njk
sitemapPriority: 1
permalink: /{{ tag.tagName }}/{% if tag.pageNumber %}{{ tag.pageNumber }}/{% endif %}
pagination:
  data: collections.tagPagination
  size: 1
  alias: tag
---

{# Note that pagination size is determined by the collection itself (edit tags.js) #}
{# Note that the permalink prefix (/) is determined by the collection itself #}
{% set posts = tag.items %}
{% set pagination = tag %}
{% set title = tag.tagName | capitalize %}
{% if sitestrings[tag.tagName] %}{% set title = sitestrings[tag.tagName] | capitalize %}{% endif %}
{% include "postlist.njk" %}