/* Error 404 page */

.error {
    @apply flex items-center justify-center;
    @apply max-w-2xl min-h-[40vh];
    @apply mx-auto py-24;
    @apply font-body font-normal text-center;
}

.error .error-area {
    @apply p-8;
    @apply border border-solid border-border dark:border-border-dark rounded-lg;
    @apply bg-rightarea-altbg dark:bg-rightarea-altbg-dark;
    @apply shadow-sm;
}

.error .error-404 {
    @apply mb-4;
    @apply font-header text-6xl font-bold;
    @apply text-rightarea-title dark:text-rightarea-title-dark;
}

.error svg {
    @apply inline-block;
    @apply h-12 w-12;
    @apply align-middle;
    @apply fill-accent;
}

.error .error-gear {
    @apply inline-flex items-center;
}

.error h1 {
    @apply mb-3;
    @apply font-header text-3xl font-bold;
    @apply text-rightarea-title dark:text-rightarea-title-dark;
}

.error p {
    @apply mb-0;
    @apply italic text-rightarea-subtext dark:text-rightarea-subtext-dark;
}