/* Post properties */

.postproperties {
    @apply text-rightarea-subtext dark:text-rightarea-subtext-dark fill-rightarea-subtext dark:fill-rightarea-subtext-dark;
    @apply font-header text-sm font-normal;
    @apply pb-4;
}

.postproperties svg {
    @apply w-5 h-5 mr-1;
}

.postproperties .posttag,
.postproperties .postauthor {
    @apply border-solid border-1 border-border dark:border-border-dark rounded-sm;
    @apply hover:border-accent dark:hover:border-accent;
    @apply -my-0.25;
}

.postproperties .posttag a,
.postproperties .postauthor a {
    @apply bg-accent/10 hover:bg-accent;
    @apply text-rightarea-subtext dark:text-rightarea-subtext-dark fill-rightarea-subtext dark:fill-rightarea-subtext-dark;
    @apply hover:text-rightarea-altbg dark:hover:text-rightarea-title-dark hover:fill-rightarea-altbg dark:hover:fill-rightarea-title-dark;
    @apply no-underline;
    @apply px-1;
    @apply transition-colors duration-200 ease-in;
}

.postproperties .readingtime {
    @apply relative cursor-default;
}

.postproperties .readingtime:hover::before {
    @apply absolute block -bottom-10 w-25;
    @apply p-0.75;
    @apply text-rightarea-text dark:text-rightarea-text-dark bg-rightarea-altbg dark:bg-rightarea-altbg-dark;
    @apply text-center text-xs font-semibold;
    @apply border-1 border-solid border-border dark:border-border-dark rounded-md;
    @apply -translate-y-1/2;
    content: attr(data-words);
}

/* Address tooltip on place */
.postproperties .placetip {
    @apply relative cursor-default;
}

.postproperties .placetip:hover::before {
    @apply absolute block -bottom-10 w-75;
    @apply p-0.75;
    @apply text-rightarea-text dark:text-rightarea-text-dark bg-rightarea-altbg dark:bg-rightarea-altbg-dark;
    @apply text-center text-xs font-semibold;
    @apply border-1 border-solid border-border dark:border-border-dark rounded-md;
    @apply -translate-y-1/2 -translate-x-1/10;
    content: attr(data-address);
}