/* Post properties */

.postproperties {
    @apply flex flex-wrap gap-x-6 gap-y-4;
    @apply pb-4;
    @apply font-header text-sm font-normal;
    @apply text-rightarea-subtext dark:text-rightarea-subtext-dark;
    @apply fill-rightarea-subtext dark:fill-rightarea-subtext-dark;
}

.postproperties > div {
    @apply flex flex-none;
}

.postproperties svg {
    @apply h-5 w-5;
    @apply mr-1;
}

.postproperties .posttag,
.postproperties .postauthor {
    @apply -my-px;
    @apply border border-solid border-border dark:border-border-dark rounded-sm;
    @apply hover:border-accent dark:hover:border-accent;
}

.postproperties .posttag a,
.postproperties .postauthor a {
    @apply inline-flex items-center;
    @apply px-1;
    @apply bg-accent/10 hover:bg-accent;
    @apply text-rightarea-subtext dark:text-rightarea-subtext-dark hover:text-rightarea-altbg dark:hover:text-rightarea-title-dark;
    @apply fill-rightarea-subtext dark:fill-rightarea-subtext-dark hover:fill-rightarea-altbg dark:hover:fill-rightarea-title-dark;
    @apply no-underline;
    @apply transition-colors duration-200 ease-in;
}

.postproperties .readingtime {
    @apply relative cursor-default;
}

.postproperties .readingtime:hover::before {
    @apply block absolute -bottom-10;
    @apply w-25;
    @apply p-0.75;
    @apply border border-solid border-border dark:border-border-dark rounded-md;
    @apply bg-rightarea-altbg dark:bg-rightarea-altbg-dark;
    @apply text-xs font-semibold text-center;
    @apply text-rightarea-text dark:text-rightarea-text-dark;
    @apply -translate-y-1/2;
    content: attr(data-words);
}

/* Address tooltip on place */
.postproperties .placetip {
    @apply relative cursor-default;
}

.postproperties .placetip:hover::before {
    @apply block absolute -bottom-10;
    @apply w-75;
    @apply p-0.75;
    @apply border border-solid border-border dark:border-border-dark rounded-md;
    @apply bg-rightarea-altbg dark:bg-rightarea-altbg-dark;
    @apply text-xs font-semibold text-center;
    @apply text-rightarea-text dark:text-rightarea-text-dark;
    @apply -translate-y-1/2 -translate-x-1/10;
    content: attr(data-address);
}