@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    @apply rounded-lg shadow-lg block mx-auto h-auto;
}

/* Left sidebar */

.sidebar .navitem {
    @apply text-gray-400 hover:text-lgtheme px-1;
}

.sidebar .navitem.active {
    @apply text-white hover:text-lgtheme;
}

div.menu li {
    @apply leading-10;
}

div.menu ul > li:last-child > a {
    margin-right: -3px;
    max-width: calc(100% - 3px);
}

div.menu ul > li:last-child::after {
    visibility: hidden;
    content: "";
    position: relative;
    right: -7.3rem;
    width: 3px;
    background-color: theme('colors.lgtheme');
    pointer-events: none;
    border-right: solid 2px theme('colors.lgtheme');
    transition: top 0.5s ease;
}

div.menu ul > li.active:nth-last-child(6) ~ li:last-child::after,
div.menu ul > li.navitem:nth-last-child(6):hover ~ li:last-child::after {
    top: -15rem;
    visibility: visible;
}
div.menu ul > li.active:nth-last-child(5) ~ li:last-child::after,
div.menu ul > li.navitem:nth-last-child(5):hover ~ li:last-child::after {
    top: -12.5rem;
    visibility: visible;
}
div.menu ul > li.active:nth-last-child(4) ~ li:last-child::after,
div.menu ul > li.navitem:nth-last-child(4):hover ~ li:last-child::after {
    top: -10rem;
    visibility: visible;
}
div.menu ul > li.active:nth-last-child(3) ~ li:last-child::after,
div.menu ul > li.navitem:nth-last-child(3):hover ~ li:last-child::after {
    top: -7.5rem;
    visibility: visible;
}
div.menu ul > li.active:nth-last-child(2) ~ li:last-child::after,
div.menu ul > li.navitem:nth-last-child(2):hover ~ li:last-child::after {
    top: -5rem;
    visibility: visible;
}
div.menu ul > li.active:nth-last-child(1):last-child::after,
div.menu ul > li.navitem:nth-last-child(1):last-child:hover::after {
    top: -2.5rem;
    visibility: visible;
}

div.menu > * {
    transition: transform 0.4s ease;
}

/* SVGs */

svg.twitter {
    fill: #1da1f2;
    stroke: #1da1f2;
}

svg.twitter:hover {
    fill: #1b90d8;
    stroke: #1b90d8;
}

svg.facebook {
    fill: #4267b2;
    stroke: #4267b2;
}

svg.facebook:hover {
    fill: #375593;
    stroke: #375593;
}

svg.linkedin {
    fill: #0072b1;
    stroke: #0072b1;
}

svg.linkedin:hover {
    fill: #006398;
    stroke: #006398;
}

.sidebar svg {
    fill: #9ca3af;
    stroke: #9ca3af;
    @apply transition duration-200 ease-in;
}

.sidebar svg:hover {
    @apply fill-lgtheme;
    @apply stroke-lgtheme;
}

/* Content area */

.content,
.postlist {
    @apply mt-4 mx-8 lg:mr-32 lg:ml-32 leading-relaxed tracking-wider;
}

.content a {
    @apply text-indigo-900 underline;
}

.content a:hover {
    @apply text-lgtheme underline;
}

.content p {
    @apply pb-4 pt-2 font-normal;
}

.content blockquote {
    @apply border-l-2 border-gray-300 my-4;
}

.content blockquote > p {
    @apply ml-4 py-2;
}

.content h1,
.postlist h1 {
    @apply text-3xl font-bold py-6 text-gray-900 font-header;
}

.content h2 {
    @apply text-2xl font-semibold mt-6 font-header;
}

.content h3 {
    @apply text-lg font-medium mt-6 font-header;
}

.content ol {
    @apply list-decimal pl-10 leading-8;
}

.content ul {
    @apply list-disc pl-10 leading-8;
}

.content table {
    @apply table-auto w-full;
}

.content table thead tr {
    @apply leading-12;
}

.content table tbody tr:nth-child(even) {
}

.content table tbody tr:nth-child(odd) {
    @apply bg-gray-100;
}

.content img {
    max-width: 100%;
}

.social svg {
    @apply h-5 ml-2 mr-3;
}

.social a {
    position: relative;
}

.social a::before {
    content: attr(aria-label);
    position: absolute;
    transform: translateY(-50%);
    top: -42px;
    left: -45px;
    width: 150px;
    padding: 10px;
    background: #000;
    border-radius: 0.3rem;
    color: #fff;
    text-align: center;
    opacity: 0;
    font-size: 12px;
}

.social a.link:active::before {
    content: "Copied";
    top: -33px;
}

.social a:hover::before {
    opacity: 1;
    display: block;
}

.social a:hover > span::after {
    content: " ";
    position: absolute;
    top: -14px;
    left: 7px;
    margin-bottom: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Utils */

.readingtime {
    @apply cursor-default;
    position: relative;
}

.readingtime::before {
    content: attr(data-words);
    position: absolute;
    transform: translateY(-50%);
    bottom: -49px;
    right: 1px;
    width: 100px;
    padding: 4px;
    background: #000;
    border-radius: 0.3rem;
    color: #fff;
    text-align: center;
    opacity: 0;
    font-size: 12px;
}

div.readingtime:hover::before {
    opacity: 1;
    display: block;
}

.readingtime:hover > span::after {
    content: " ";
    position: absolute;
    top: 11px;
    right: 41px;
    margin-bottom: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.content.post > p > a:hover,
.content.page a:hover,
a.postlistheading:hover,
.postlist a:hover,
#top-bar a:hover {
    @apply text-lgtheme underline;
}

/* Collection pagination */

ul.pagination div {
    @apply h-8 w-8 border-1 bg-white hover:text-lgtheme border-gray-600 rounded-full text-center;
}

ul.pagination div.active {
    @apply text-gray-700 bg-gray-350;
}

ul.pagination div a {
    padding-top: 2px;
}

::placeholder {
    @apply text-gray-800;
}

:-ms-input-placeholder {
    @apply text-gray-800;
}

#top-bar.hide {
    @apply transform -translate-y-12;
}

.additions a {
    @apply no-underline;
}

.additions a:hover {
    @apply no-underline;
}

.additions div {
    @apply text-gray-700 bg-white border-gray-600 no-underline;
}

.additions div:hover {
    @apply no-underline;
}

@media print {
    #sidebar #sidebar-contents {
        display: none;
    }

    #right-area #top-bar {
        display: none;
    }

    .grid {
        display: block;
    }

    aside {
        display: none;
    }

    main .content .social {
        display: none;
    }

    main .content.border-b-1,
    main .block.border-b-1 {
        border-bottom-width: 0px;
    }

    main .content .additions {
        display: none;
    }
}

/*** lastguru enhancements ***/

/* fixing 100vh for mobiles */
.h-screen {
    min-height: stretch;
    max-height: stretch;
}

.content p strong {
    font-weight: 700;
}

.sidebar .sitetitle {
    @apply hover:text-lgtheme;
}