@import "tailwindcss";
@import "./theme.css";
@source "./safelist.txt";

img {
    @apply rounded-lg shadow-lg block mx-auto h-auto;
}

img.siteheader {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Left sidebar */

.sidebar {
    @apply bg-sidebar-dark;
    @apply px-2 h-screen w-60;
}

.sidebar .sitehero {
    @apply pt-8;
}

.sidebar .sitetitle {
    @apply text-center font-semibold font-header text-2xl;
    @apply text-white hover:text-accent;
    @apply pt-6;
}

.sidebar .sitetitle a {
    @apply mx-auto;
}

.sidebar .sitedesc {
    @apply text-center font-normal text-sm;
    @apply text-gray-400;
    @apply pt-3;
}

.sidebar .navitem {
    @apply text-center text-base/10 font-header font-medium uppercase;
    @apply text-gray-400 hover:text-accent;
    @apply px-1;
}

.sidebar .navitem.active {
    @apply text-white hover:text-accent;
}

div.menu ul {
    @apply pl-0;
}

div.menu ul > li:last-child > a {
    margin-right: -3px;
    max-width: calc(100% - 3px);
}

div.menu ul > li:last-child::after {
    @apply bg-accent;
    @apply border-solid border-r-2 border-r-accent;
    visibility: hidden;
    content: "";
    position: relative;
    right: -7.3rem;
    width: 3px;
    pointer-events: none;
    transition: top 0.5s ease;
}

div.menu ul > li.active:nth-last-child(6) ~ li:last-child::after,
div.menu ul > li.navitem:nth-last-child(6):hover ~ li:last-child::after {
    top: -15rem;
    visibility: visible;
}
div.menu ul > li.active:nth-last-child(5) ~ li:last-child::after,
div.menu ul > li.navitem:nth-last-child(5):hover ~ li:last-child::after {
    top: -12.5rem;
    visibility: visible;
}
div.menu ul > li.active:nth-last-child(4) ~ li:last-child::after,
div.menu ul > li.navitem:nth-last-child(4):hover ~ li:last-child::after {
    top: -10rem;
    visibility: visible;
}
div.menu ul > li.active:nth-last-child(3) ~ li:last-child::after,
div.menu ul > li.navitem:nth-last-child(3):hover ~ li:last-child::after {
    top: -7.5rem;
    visibility: visible;
}
div.menu ul > li.active:nth-last-child(2) ~ li:last-child::after,
div.menu ul > li.navitem:nth-last-child(2):hover ~ li:last-child::after {
    top: -5rem;
    visibility: visible;
}
div.menu ul > li.active:nth-last-child(1):last-child::after,
div.menu ul > li.navitem:nth-last-child(1):last-child:hover::after {
    top: -2.5rem;
    visibility: visible;
}

div.menu > * {
    transition: transform 0.4s ease;
}

.sidebar .sitesocial {
    @apply gap-5 mx-auto;
}

.sidebar .sitesocial a {
    @apply w-5 h-5;
}

/* Mobile top bar */

#top-bar {
    @apply border-gray-700/30 border-b-1 shadow-lg;
    @apply bg-white;
}

#top-bar a {
    @apply align-middle leading-12 text-2xl text-center font-semibold font-header;
}

#top-bar a:hover {
    @apply text-accent;
    @apply underline;
}

#top-bar.hide {
    @apply -translate-y-12;
}

/* SVGs */

svg.twitter {
    fill: #1da1f2;
    stroke: #1da1f2;
}

svg.twitter:hover {
    @apply fill-accent;
    @apply stroke-accent;
}

svg.twitter_x {
    fill: black;
    stroke: black;
}

svg.twitter_x:hover {
    @apply fill-accent;
    @apply stroke-accent;
}

svg.facebook {
    fill: #4267b2;
    stroke: #4267b2;
}

svg.facebook:hover {
    @apply fill-accent;
    @apply stroke-accent;
}

svg.linkedin {
    fill: #0072b1;
    stroke: #0072b1;
}

svg.linkedin:hover {
    @apply fill-accent;
    @apply stroke-accent;
}

svg.share:hover {
    @apply fill-accent;
    @apply stroke-accent;
}

.sidebar svg {
    @apply fill-gray-400;
    @apply stroke-gray-400;
    @apply transition duration-200 ease-in;
}

.sidebar svg:hover {
    @apply fill-accent;
    @apply stroke-accent;
}

/* Content area */

.content {
    @apply border-solid border-b-1 border-gray-700;
    @apply pb-6 mt-4 mx-8 lg:mr-24 lg:ml-24;
    @apply leading-relaxed tracking-wider;
}

.content .incontent {
    @apply text-gray-700;
    @apply font-body font-normal;
}

.content .postproperties {
    @apply text-gray-500;
    @apply text-sm font-normal;
    @apply mb-4;
}

.content .postproperties svg {
    @apply h-5 w-5 mr-2;
}

.content a {
    @apply text-gray-500;
    @apply underline;
}

.content a:hover {
    @apply text-accent;
    @apply underline;
}

.content p {
    @apply pb-4 pt-2;
    @apply font-normal;
}

.content p strong {
    font-weight: 700;
}

.content blockquote {
    @apply border-l-2 border-gray-400;
    @apply my-4;
}

.content blockquote > p {
    @apply ml-4 py-2;
}

.content h1 {
    @apply text-gray-900;
    @apply text-3xl font-bold font-header;
    @apply py-6;
}

.content h2 {
    @apply text-2xl font-semibold font-header;
    @apply mt-6;
}

.content h3 {
    @apply text-lg font-medium font-header;
    @apply mt-6;
}

.content ol {
    @apply list-decimal leading-8;
    @apply pl-10;
}

.content ul {
    @apply list-disc leading-8;
    @apply pl-10;
}

.content table {
    @apply table-auto w-full;
}

.content table thead tr {
    @apply leading-12;
}

.content table tbody tr:nth-child(even) {
}

.content table tbody tr:nth-child(odd) {
    @apply bg-gray-100;
}

.content img {
    max-width: 100%;
}

.content.post > p > a:hover,
.content.page a:hover {
    @apply text-accent;
    @apply underline;
}

/* Social links for content */

.social svg {
    @apply h-5 ml-2 mr-3;
}

.social span {
    @apply text-sm;
}

.social a {
    position: relative;
}

.social a::before {
    content: attr(aria-label);
    position: absolute;
    transform: translateY(-50%);
    top: -42px;
    left: -45px;
    width: 150px;
    padding: 10px;
    background: #000;
    border-radius: 0.3rem;
    color: #fff;
    text-align: center;
    opacity: 0;
    font-size: 12px;
}

.social a.link:active::before {
    content: "Copied";
    top: -33px;
}

.social a:hover::before {
    opacity: 1;
    display: block;
}

.social a:hover > span::after {
    content: " ";
    position: absolute;
    top: -14px;
    left: 7px;
    margin-bottom: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Additions and Previous - Next block */

.postbreak {
    @apply border-solid border-b-1 border-gray-700;
}

.additions a {
    @apply no-underline;
}

.additions a:hover {
    @apply no-underline;
}

.additions div {
    @apply text-gray-700 bg-white;
    @apply border-solid border-1 border-gray-700;
    @apply leading-pagination text-center;
    @apply no-underline;
}

.additions div:hover {
    @apply no-underline;
}

.prevnextyes {
    @apply hover:bg-gray-400;
    @apply hover:text-accent;
    @apply cursor-pointer;
}

.prevnextno {
    @apply cursor-not-allowed;
}

.prevnexttitle {
    @apply text-xs font-semibold;
}

.prevnextlink {
    @apply text-lg font-medium;
}


/* Reading time */

.readingtime {
    @apply cursor-default;
    position: relative;
}

.readingtime::before {
    content: attr(data-words);
    position: absolute;
    transform: translateY(-50%);
    bottom: -49px;
    right: 1px;
    width: 100px;
    padding: 4px;
    background: #000;
    border-radius: 0.3rem;
    color: #fff;
    text-align: center;
    opacity: 0;
    font-size: 12px;
}

div.readingtime:hover::before {
    opacity: 1;
    display: block;
}

.readingtime:hover > span::after {
    content: " ";
    position: absolute;
    top: 11px;
    right: 41px;
    margin-bottom: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Post list */

.postlist {
    @apply pb-8 mt-4 mx-8 lg:mr-24 lg:ml-24;
    @apply leading-relaxed tracking-wider;
    @apply font-normal;
}

.postlist h1 {
    @apply text-gray-900;
    @apply text-center text-3xl font-bold font-header;
    @apply py-6;
}

a.postlistheading:hover,
.postlist a:hover {
    @apply text-accent;
    @apply underline;
}

.postlist .postlistheading {
    @apply text-gray-900;
    @apply text-2xl font-semibold font-header;
}

.postlist .postexcerpt {
    @apply text-gray-700;
    @apply font-body font-normal;
}

.postlist .postproperties {
    @apply text-gray-500;
    @apply text-sm font-normal;
    @apply pb-6;
    @apply border-b-1 border-gray-700/20;
}

.postlist .postproperties svg {
    @apply h-5 w-5 mr-2;
}

/* Collection pagination */

ul.pagination div {
    @apply border-1 border-gray-700 rounded-full;
    @apply bg-white hover:text-accent;
    @apply text-center;
    @apply h-8 w-8;
}

ul.pagination div.active {
    @apply text-accent bg-gray-400;
}

ul.pagination div a {
    @apply font-body font-normal text-lg;
    @apply hover:no-underline;
    padding-top: 1.5px;
}

/* Miscellaneous */

::placeholder {
    @apply text-gray-800;
}

:-ms-input-placeholder {
    @apply text-gray-800;
}

/* fixing 100vh for mobiles */
.h-screen {
    min-height: stretch;
    max-height: stretch;
}

/* Print media style */

@media print {
    #sidebar #sidebar-contents {
        display: none;
    }

    #right-area #top-bar {
        display: none;
    }

    .grid {
        display: block;
    }

    aside {
        display: none;
    }

    main .content .social {
        display: none;
    }

    main .content {
        border-bottom-width: 0px;
    }

    main .block.border-b-1 {
        border-bottom-width: 0px;
    }

    main .content .additions {
        display: none;
    }
}
