@theme {
    --font-body: Montserrat, Verdana, Geneva, ui-sans-serif, sans-serif, system-ui;
    --font-weight-bodynormal: var(--font-weight-normal);
    --font-header: "Titillium Web", Verdana, Geneva, ui-sans-serif, sans-serif, system-ui;

    --color-accent: #b00069;
    --color-neutral-150: oklch(94.6% 0 0);
    --color-border: var(--color-accent);
    --color-border-dark: var(--color-accent);

    --color-sidebar-bg: #222222;
    --color-sidebar-text: var(--color-gray-400);
    --color-sidebar-highlight: var(--color-neutral-150);

    --color-footer-bg: var(--color-sidebar-bg);
    --color-footer-text: var(--color-sidebar-text);

    --color-rightarea-bg: var(--color-white);
    --color-rightarea-altbg: var(--color-gray-100);
    --color-rightarea-pagination: var(--color-gray-400);
    --color-rightarea-subtext: var(--color-gray-500);
    --color-rightarea-text: var(--color-gray-700);
    --color-rightarea-title: var(--color-gray-900);

    --color-rightarea-bg-dark: var(--color-neutral-900);
    --color-rightarea-altbg-dark: var(--color-neutral-800);
    --color-rightarea-subtext-dark: var(--color-neutral-400);
    --color-rightarea-text-dark: var(--color-neutral-300);
    --color-rightarea-title-dark: var(--color-neutral-150);

    --color-topbar-bg: var(--color-rightarea-bg);
    --color-topbar-fg: var(--color-rightarea-title);

    --color-topbar-bg-dark: var(--color-sidebar-bg);
    --color-topbar-fg-dark: var(--color-sidebar-highlight);

    --spacing-content: 72rem;
    --spacing-sidebar: 15rem;
}