@theme {
    --font-body: Montserrat, Verdana, Geneva, ui-sans-serif, sans-serif, system-ui;
    --font-header: "Titillium Web", Verdana, Geneva, ui-sans-serif, sans-serif, system-ui;
    --color-sidebar-dark: #222222;
    --color-accent: #a300a3;
    --leading-pagination: 1.8rem;
    --spacing-content: 80rem;
}