/* Mobile top bar */

.top-bar {
    @apply sm:hidden;
    @apply top-0 z-10;
    @apply h-12;
    @apply border-b border-border dark:border-border-dark;
    @apply bg-topbar-bg dark:bg-topbar-bg-dark;
    @apply shadow-lg;
    @apply transition-transform duration-200 ease-in;
}

.top-bar svg {
    @apply block;
    @apply h-12;
    @apply px-3 pt-4 pb-3;
    @apply align-middle leading-12;
    @apply fill-topbar-fg dark:fill-topbar-fg-dark hover:fill-accent;
    @apply transition-colors duration-200 ease-in;
}

.light .top-bar svg.lighttoggle,
.dark .top-bar svg.darktoggle {
    @apply hidden;
}

.top-bar a {
    @apply inline grow;
    @apply align-middle text-center leading-12;
    @apply font-header text-2xl font-semibold hover:no-underline;
    @apply text-topbar-fg dark:text-topbar-fg-dark hover:text-accent;
    @apply transition-colors duration-200 ease-in;
}

.top-bar #mobile-top-bar {
    @apply col-span-2 flex;
}

.top-bar.hide {
    @apply -translate-y-12;
}